{% for y in x.database.all %}
            {% if y.type == 2 %}
            <div class="imagebox" style="width:80%; ">
            <img src="/media/{{ y.data }}"  style="width:100%; overflow: hidden; border-radius: 2%; box-shadow:0px 2px 2px #B3B3B3;">
            </div>
                <div class="foot" style="font-size: 10px; text-align: right; width: 82%; color: gray; margin-bottom: 1%;">
                <i>- {{ y.user_name }}</i>
                </div>
            <br>

            {% elif y.type == 5 %}
                <div class="alert alert-danger" style="margin-left: 18px; width:90%; margin-bottom: 0;">
                <a href="/media/{{ y.data }}" target="_blank">See File</a>
                </div>
                <div class="foot" style="margin-left: 18px;  font-size: 10px; text-align: right; margin-bottom: 1%; width: 90%; color: gray;">
                <i>- {{ y.user_name }}</i>
                </div>

            <br>
            {% elif y.type == 1 %}
                <div class="alert alert-info" style="margin-left: 18px; width:90%; margin-bottom: 0;">
                {{ y.data }}
                </div>
                <div class="foot" style="margin-left: 18px;  font-size: 10px; text-align: right; margin-bottom: 1%; width: 90%; color: gray;">
                <i>- {{ y.user_name }}</i>
                </div>
            {% endif %}
{% endfor %}